In [3]:
import pandas as pd

filename = "results\iclr_brazil_antag_ds_rl_dp_0\iclr_brazil_antag_ds_rl_dp.h5"

In [4]:
params = pd.read_hdf(filename, key='task_parameters')
results = pd.read_hdf(filename, key="results")

In [5]:
params

,gpa_cutoff,n_jobs,n_train,include_R,base_path,r_train_v_test,include_S,standardize
0,3.0,24,10000,False,iclr_brazil_antag_ds_rl_dp,0.4,False,True
1,3.0,24,20000,False,iclr_brazil_antag_ds_rl_dp,0.4,False,True
2,3.0,24,30000,False,iclr_brazil_antag_ds_rl_dp,0.4,False,True
3,3.0,24,40000,False,iclr_brazil_antag_ds_rl_dp,0.4,False,True
4,3.0,24,50000,False,iclr_brazil_antag_ds_rl_dp,0.4,False,True
5,3.0,24,60000,False,iclr_brazil_antag_ds_rl_dp,0.4,False,True

In [6]:
results

,original_nsf,original_acc,original_g,antagonist_acc,antagonist_g,runtime,name,tid,pid,seed
0,True,0.613860,0.088536,0.608824,0.105929,28.320213,SRC,1,0,34471197
1,False,0.638131,-0.093799,0.642255,-0.069470,30.727435,SC,0,0,34471197
2,True,0.611990,0.113359,0.607412,0.136636,36.424098,SRC,0,0,34471197
3,False,0.609819,0.113431,0.603758,0.136513,15.142944,FairConst,0,0,34471197
4,False,0.612867,0.086277,0.606049,0.100044,21.745862,FairConst,1,0,34471197
...,...,...,...,...,...,...,...,...,...,...
955,True,0.633674,-0.073794,0.646978,-0.047379,1522.164714,QSRC,2,0,76271484
956,False,0.636284,-0.048905,0.650979,-0.027659,1094.327878,FairRobust,4,0,76271484
957,True,0.623583,-0.091788,0.649439,-0.056158,1193.870312,QSRC,4,0,76271484
958,False,0.626885,-0.094063,0.626767,-0.067379,949.032255,FairRobust,5,0,76271484
959,True,0.632566,-0.099555,0.651151,-0.074321,1045.534874,QSRC,5,0,76271484

In [16]:
joint = results.merge(params, how="left", left_on="tid", right_index=True)
NSF = joint[["name", "n_train", "original_nsf"]].groupby(by=["name", "n_train"]).mean().reset_index()
joint

,original_nsf,original_acc,original_g,antagonist_acc,antagonist_g,runtime,name,tid,pid,seed,r_train_v_test,n_train,include_S,n_jobs,standardize,gpa_cutoff,include_R,base_path,interpolation_factor
0,True,0.638801,-0.089839,0.653320,-0.052754,572.951973,QSRC,0,0,40315988,0.4,60000,False,7,True,3.0,False,iclr_brazil_antag_ds_rl_dp,0.25
1,False,0.623421,-0.075917,0.646802,-0.063707,598.158164,QSRC,0,0,40932111,0.4,60000,False,7,True,3.0,False,iclr_brazil_antag_ds_rl_dp,0.25
2,True,0.619241,-0.094179,0.617944,-0.090138,608.531286,QSRC,0,0,60326604,0.4,60000,False,7,True,3.0,False,iclr_brazil_antag_ds_rl_dp,0.25
3,False,0.587396,-0.057698,0.584711,-0.056921,634.523315,QSRC,0,0,66577413,0.4,60000,False,7,True,3.0,False,iclr_brazil_antag_ds_rl_dp,0.25
4,True,0.616678,-0.043664,0.613983,-0.013002,880.249980,QSRC,0,0,25249251,0.4,60000,False,7,True,3.0,False,iclr_brazil_antag_ds_rl_dp,0.25

In [17]:
NSF

   name  n_train  original_nsf
0  QSRC    60000           0.6

In [18]:
# extract means and standard errors
solution_found = joint.loc[joint.original_nsf == False]
solution_found["original_failed"] = solution_found["original_g"] > 0
solution_found["antagonist_failed"] = solution_found["antagonist_g"] > 0
solution_found

C:\Users\Valen\AppData\Local\Temp\ipykernel_2840\3515503250.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solution_found["original_failed"] = solution_found["original_g"] > 0
C:\Users\Valen\AppData\Local\Temp\ipykernel_2840\3515503250.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solution_found["antagonist_failed"] = solution_found["antagonist_g"] > 0

,original_nsf,original_acc,original_g,antagonist_acc,antagonist_g,runtime,name,tid,pid,seed,...,n_train,include_S,n_jobs,standardize,gpa_cutoff,include_R,base_path,interpolation_factor,original_failed,antagonist_failed
1,False,0.623421,-0.075917,0.646802,-0.063707,598.158164,QSRC,0,0,40932111,...,60000,False,7,True,3.0,False,iclr_brazil_antag_ds_rl_dp,0.25,False,False
3,False,0.587396,-0.057698,0.584711,-0.056921,634.523315,QSRC,0,0,66577413,...,60000,False,7,True,3.0,False,iclr_brazil_antag_ds_rl_dp,0.25,False,False

In [19]:
means = solution_found[["name", "n_train", "original_acc", "antagonist_acc", "original_failed", "antagonist_failed"]].groupby(by=["name", "n_train"]).mean(numeric_only=False).add_suffix("_mean").reset_index()
ses = solution_found[["name", "n_train", "original_acc", "antagonist_acc", "original_failed", "antagonist_failed"]].groupby(by=["name", "n_train"]).sem(numeric_only=False).add_suffix("_se").reset_index()

# merge
aggregated = NSF.merge(means, how="left", on=["name", "n_train"]).merge(ses, how="left", on=["name", "n_train"])

In [20]:
ses

,name,n_train,original_acc_se,antagonist_acc_se,original_failed_se,antagonist_failed_se
0,QSRC,60000,0.018013,0.031045,0.0,0.0

In [21]:
aggregated

,name,n_train,original_nsf,original_acc_mean,antagonist_acc_mean,original_failed_mean,antagonist_failed_mean,original_acc_se,antagonist_acc_se,original_failed_se,antagonist_failed_se
0,QSRC,60000,0.6,0.605408,0.615757,0.0,0.0,0.018013,0.031045,0.0,0.0

In [22]:
aggregated["interpolation_factor"] = params["interpolation_factor"]
aggregated

,name,n_train,original_nsf,original_acc_mean,antagonist_acc_mean,original_failed_mean,antagonist_failed_mean,original_acc_se,antagonist_acc_se,original_failed_se,antagonist_failed_se,interpolation_factor
0,QSRC,60000,0.6,0.605408,0.615757,0.0,0.0,0.018013,0.031045,0.0,0.0,0.25